{% extends 'base.html' %}

{% block content %}

<section id="section_login">

    <div id="div_section_login">
        <aside id="signup">

            <form method="post">
            {% csrf_token %}

            <h2>Sign-up now</h2> 
            <button formaction="{% url 'signup' %}">Sign-up</button>
            </form>

            </aside>

            <aside id="login"> 
            <h2>Sign-in</h2>
            <form method="post">

            {% csrf_token %}
            {{ form.as_p }}

            <p>{{ message }}</p>

            <button type="submit">Sign-in</button>

            

            </form>
        </aside>
    </div>
</section>

{% endblock content %}