body{
    margin: auto;
    width:75%;
    text-align: center;
}

#base_title{
    border:1px solid black;
    align-content: center;
}

#login_section{
    border:1px solid black;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#menu_logged_tilte{
    font-size: 25px;
}

#menu_logged{
    border:1px solid black;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#connected{
    color:green;
    font-weight: bold;
}